@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Signika+Negative:wght@300..700&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Alumni Sans SC", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-shadow {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.4);
}

/* Main background */
#main {
  height: 100vh;
  width: 100%;
}

/* Navbar */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;
}

#nav h2 {
  font-size: 30px;
}

.menu-icon {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  display: block;
}

/* Sidebar */
#full {
  height: 100%;
  width: 100%;
  max-width: 400px;
  position: absolute;
  background-color: #ffffff6e;
  top: 0;
  right: -100%;
  backdrop-filter: blur(12px);
  padding: 150px 60px;
  z-index: 50;
}

#full h4 {
  font-size: 36px;
  font-weight: 500;
  margin: 10px;
  color: black;
}

.close-icon {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  #nav {
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }

  #full {
    display: none;
  }
}
